body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #444;
}
